body{font-family:Arial, Helvetica, sans-serif;font-size:.9em;margin-top: 8px;margin-bottom: 5px;margin-left: 10px;margin-right: 10px;overflow-x:hidden;}
hr{color:#C9D7F1;margin-bottom:3px;width:70%;margin-top:3px;border-top:0;border-left:0;}
.style0{font-size:1.2em;line-height:25px;font-family:"Courier New", Courier, monospace;font-weight:700;}
.style1 {font-family:Arial, Helvetica, sans-serif;font-size:1em;}
.style2{font-size:1em;line-height:25px;font-family:"Courier New", Courier, monospace;font-weight:700;}
.style3{font-size:1em;font-weight:700;}
.paragraphtitle{font-weight:700;font-size:1em;font-style:italic;text-decoration:underline;margin:1em 0;}
.red{color:red;}
a:hover{text-decoration:none;color:#99D6FF;}
.reftext{font-size:.8em;font-weight:700;line-height:13px;margin-left:1px;margin-right:2px;vertical-align:text-top;}
input.button{padding-right:4px;padding-left:4px;border:medium none;background-color:#C9D7F1;}
input.button:hover{color:#0092F2;}
.small{font-size:.8em;}
p.l0{text-indent:-1em;margin-left:1em;margin-top:5px;margin-bottom:5px;}
p.l1{text-indent:-1.5em;margin-left:1.5em;}
p.l2{text-indent:-2.5em;margin-left:2.5em;}
.vtext{text-indent:-2em;margin-left:2em;}
ul{line-height:19px;margin-top:5px;padding-left:15px;}
.share{padding-bottom:5px;padding-top:5px;-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;background:#F6F6F6;border:1px solid #CCC;color:#1C94C4;outline-color:0;outline-style:none;outline-width:medium;-moz-border-radius-bottomleft:4px;-moz-border-radius-bottomright:4px;-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;}
ol.no_number,ul.no_number{list-style-image:none;list-style-position:outside;list-style-type:none;margin-left:-1em;text-indent:-1.7em;}
#alternate{position:absolute;top:1%;right:1%;width:46%;border:1px dotted blue;background-color:#E9E9E9;}
#main{position:absolute;top:1%;left:1%;width:46%;border:0;}
#mid{position:absolute;}
#bibletexts-toggle{text-decoration:none;padding:.2em .5em;}
#bibletexts{border:1px solid #DDD;background-color:#EEE;color:#333;padding:1em .5em;}
.ui-state-default,.ui-widget-content .ui-state-default{-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;background:#F6F6F6;border:1px solid #CCC;color:#1C94C4;font-weight:700;outline-color:0;outline-style:none;outline-width:medium;}
.ui-corner-all{-moz-border-radius-bottomleft:4px;-moz-border-radius-bottomright:4px;-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;}
.directory_index{background-color:#FFF;border-bottom:2px solid;border-top:2px solid;}
.copyright{background-color:#F3F3F3;}
p,.style1{line-height:19px;}
a:link,a:visited{text-decoration:none;color:#0092F2;}
.share a,.ext_link a{color:#228b22;}
.g {font-family:olbgrk;}
.h {font-family: olbheb;}